* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 0 0;
}

header .container-logo {
    width: 200px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav a {
    margin: 0 1.5rem;
    color: white;
    font-size: 18px;
}

.btn-nav {
    background: none;
    border: 1px solid white;
    border-radius: 8px;
}
